    .main__bottom {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 90px;
    }
    
    .main__description {
        flex: 1 1 50%;
        position: relative;
        top: -115px;
    }
    
    .description__slider {
        &__text {
            font-size: 16px;
            line-height: 28.8px;
            span {
                text-decoration: underline;
                color: #C56C1A;
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -10%;
            border: 20px solid transparent;
            border-left: 20px solid #fff;
            border-bottom: 20px solid #fff;
            z-index: 100;
        }
    }
    
    .description__btn {
        padding: 11.5px 40px;
        display: inline-block;
        color: #C56C1A;
        background-color: #F7F3EA;
        font-size: 16px;
        font-weight: 700;
        line-height: 28.8px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        position: relative;
        top: -20px;
        left: 40px;
        z-index: 3;
        &:hover {
            border: 1px solid #C56C1A;
        }
    }
    
    .main__tickets {
        flex: 1 1 50%;
    }
    
    .description__slider .slick-track {
        display: block;
    }
    
    .description__slider__item {
        padding: 50px;
        background-color: #fff;
    }
    
    .description__slider .slick-list {
        align-items: center;
        max-width: 548px;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        z-index: 2;
        overflow: hidden;
    }
    
    .main__tickets__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 35px;
    }
    
    @media screen and (max-width: 1350px) {
        .main__description {
            margin-left: 30px;
            flex: 1 1 40%;
        }
        .main__tickets {
            flex: 1 1 40%;
        }
    }
    
    @media screen and (max-width: 991px) {
        .main__description {
            flex: 1 1 35%;
            top: -90px;
            margin-bottom: 20px;
            margin-left: 50px;
        }
        .main__tickets {
            flex: 1 1 100%;
            margin-top: -100px;
        }
    }
    
    @media screen and (max-width: 576px) {
        .main__description {
            flex: 1 1 100%;
            margin-left: 4px;
        }
        .description__slider {
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -8%;
                border: 20px solid transparent;
                border-left: 20px solid #fff;
                border-bottom: 20px solid #fff;
                z-index: 10;
            }
        }
        .main__tickets {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main__tickets__text {
            font-weight: 300;
            font-size: 16px;
            line-height: 36px;
            color: #000000;
        }
        .description__btn {
            position: relative;
            top: -20px;
            left: 0px;
            z-index: 3;
        }
        .description__slider__item {
            padding: 40px;
            max-width: 470px;
        }
        .description__slider .slick-list {
            align-items: center;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            overflow: hidden;
        }
    }
    
    @media screen and (max-width: 365px) {
        .description__slider .slick-list {
            align-items: center;
            max-width: 350px;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            z-index: 2;
            overflow: hidden;
        }
    }