.main__bottom {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.main__description {
    flex: 1 1 50%;
    position: relative;
    top: -30px;
}

.description__slider {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -10%;
        border: 20px solid transparent;
        border-left: 20px solid #fff;
        border-bottom: 20px solid #fff;
        z-index: 100;
    }
}

.description__btn {
    padding: 11.5px 40px;
    display: inline-block;
    color: #C56C1A;
    background-color: #F7F3EA;
    font-size: 16px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: relative;
    top: -20px;
    left: 40px;
    z-index: 3;
}

.main__tickets {
    flex: 1 1 50%;
    margin-top: 87px;
}

.description__slider .slick-track {
    display: block;
}

.description__slider__item {
    padding: 50px;
    background-color: #fff;
}

.description__slider .slick-list {
    align-items: center;
    max-width: 548px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    z-index: 2;
    overflow: hidden;
}

.main__tickets__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 35px;
}


/* @media screen and (max-width: 1100px) {
    .main__bottom {
        justify-content: center;
    }
    .main__tickets {
        margin-top: -25px;
    }
}

@media screen and (max-width: 991px) {
    .main__bottom {
        justify-content: center;
        align-items: center;
    }
    .description__slider {
        flex: 1 1 100%;
        align-items: center;
        text-align: center;
    }
    .main__tickets {
        flex: 1 1 100%;
        align-items: center;
    }
} */

@media screen and (max-width: 576px) {
    .main__bottom {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 90px;
    }
    .main__description {
        flex: 1 1 50%;
        position: relative;
        top: -30px;
    }
    .description__slider {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -10%;
            border: 20px solid transparent;
            border-left: 20px solid #fff;
            border-bottom: 20px solid #fff;
            z-index: 100;
        }
    }
    .main__tickets {
        flex: 1 1 50%;
        margin-top: 0px;
    }
    .description__slider .slick-track {
        display: block;
    }
    .description__slider__item {
        padding: 30px;
        background-color: #fff;
    }
    .description__slider .slick-list {
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        z-index: 2;
        overflow: hidden;
    }
    .main__tickets__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 35px;
    }
    .description__btn {
        padding: 11.5px 40px;
        display: inline-block;
        color: #C56C1A;
        background-color: #F7F3EA;
        font-size: 16px;
        font-weight: 700;
        line-height: 28.8px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        position: relative;
        top: -20px;
        left: 0px;
        z-index: 3;
    }
}