    @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap');
    @import "default.scss";
    @import "header.scss";
    @import "bottom.scss";
    @import "slider.scss";
    $body-color:#F1ECDF;
    body {
        background-color: $body-color;
        font-family: "bitter", sans-serif;
    }
    
    .container {
        max-width: 1345px;
        margin: 0 auto;
        width: 100%;
    }
    
    .wrapper {
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    
    body.lock {
        overflow: hidden;
    }
    
    main {
        width: 100%;
        margin: 0 auto;
    }
    
    .btn {
        padding: 19px 44px;
        display: inline-block;
        color: white;
        background-color: #C56C1A;
        font-size: 16px;
        font-weight: 700;
        line-height: 90%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    
    .btn:hover {
        color: #C56C1A;
        background-color: #F1ECDF;
        border: 1px solid #C56C1A;
    }
    
    .btn:active {
        color: #C56C1A;
        background-color: #F1ECDF;
        border: 2px solid #C56C1A;
    }
    
    @media screen and (max-width: 1250px) {
        .container {
            max-width: 1200px;
        }
    }
    
    @media screen and (max-width: 991px) {
        .container {
            max-width: 900px;
        }
    }
    
    @media screen and (max-width: 576px) {
        .container {
            max-width: 520px;
        }
        .btn {
            width: 80%;
            text-align: center;
        }
    }
    
    @media screen and (max-width: 365px) {
        .container {
            max-width: 310px;
        }
        .btn {
            width: 80%;
            text-align: center;
        }
    }